<h2>Dead Links</h2>
<h4>Auf Button Klick werden alle Links überprüft.</h4>
<p>Wenn ein Link korrigiert wurde, bitte den "Dead Link" hier löschen</p>
<p>Wenn das Business gelöscht wurde, dann wird der "Dead Link" hier automatisch gelöscht.</p>
<br>
<p>Der Prozess alle Links zu checken, <strong>wird sehr lange dauern</strong> und sollte deshalb nur bewusst gemacht werden.</p>
<%= link_to "Check dead links", check_dead_links_path, class: "btn btn-primary" %>

<br/>
<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Business</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dead_links.each do |dead_link| %>
      <tr>
        <td><%= link_to dead_link.funding.business.name, business_path(dead_link.funding.business) %></td>
        <td><a target="_blank" href="<%= dead_link.link %>"><%= dead_link.link %></a></td>
        <td><%= link_to 'Destroy', dead_link, method: :delete, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>