<h2>Dead Links</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Business</th>
      <th>Link</th>
      <th>Error</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dead_links.each do |dead_link| %>
      <tr>
        <td><%= link_to dead_link.funding.business.name, business_path(dead_link.funding.business) %></td>
        <td><a target="_blank" href="<%= dead_link.link %>"><%= dead_link.link %></a></td>
        <td><%= dead_link.error_msg %></td>
        <td><%= link_to 'Destroy', dead_link, method: :delete, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
