<%- model_class = Owner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:business_id) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:paypal_handle) %></th>
      <th><%= model_class.human_attribute_name(:personal_message) %></th>
      <th><%= model_class.human_attribute_name(:personal_image_link) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= link_to owner.id, owner_path(owner) %></td>
        <td><%= owner.business_id %></td>
        <td><%= owner.email %></td>
        <td><%= owner.paypal_handle %></td>
        <td><%= owner.personal_message %></td>
        <td><%= owner.personal_image_link %></td>
        <td><%=l owner.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_owner_path(owner), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      owner_path(owner),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_owner_path,
            :class => 'btn btn-primary' %>
