<%- model_class = BusinessImport -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:import_error) %></th>
      <th><%= model_class.human_attribute_name(:imported_at) %></th>
      <th><%= model_class.human_attribute_name(:num_imported) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @business_imports.each do |business_import| %>
      <tr>
        <td><%= link_to business_import.id, business_import_path(business_import) %></td>
        <td><%= business_import.created_at %></td>
        <td><%= truncate(business_import.import_error, length: 50) %></td>
        <td><%= business_import.imported_at %></td>
        <td><%= business_import.num_imported %></td>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      business_import_path(business_import),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_business_import_path,
            :class => 'btn btn-primary' %>
