<%- model_class = BusinessImport -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:imported_at) %>:</strong></dt>
  <dd><%= @business_import.imported_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:num_imported) %>:</strong></dt>
  <dd><%= @business_import.num_imported %></dd>
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><pre><%= @business_import.content %></pre></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              business_imports_path, :class => 'btn btn-default'  %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              business_import_path(@business_import),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
